
{% include "user/navbar.html" %}
{% include "user/base.html" %}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<style>

body{
    background:var(--light-bg);
    font-family:'Segoe UI',sans-serif;
}

</style>
</head>
<body>

<!-- Banner -->
<section class="course-banner8  ">
    <div class="container  ">
        <h1>Gramsevak Exam</h1>
        <p> Focused training for Vanrakshak recruitment exams</p>
    </div>
</section>

<div class="container pt-5 mt-5 mb-5">
<div class="row g-4">

<!-- Left Side -->
<div class="col-lg-8">
<div class="main-card8">

<h2 class="section-title8">Course Overview</h2>

<div class="row g-3">

<div class="col-md-6">
<div class="info-box8">
<div style="font-size:35px;color:#f4a300;">⌛</div>
<h5>Duration</h5>
<p>6–8 Months</p>
</div>
</div>

<div class="col-md-6">
<div class="info-box8">
<div style="font-size:35px;color:#f4a300;">🎓</div>
<h5>Eligibility</h5>
<p>12th pass, physical fitness required</p>
</div>
</div>

</div>

<h2 class="section-title8 mt-5">What You'll Get</h2>

<div class="row">
<div class="col-md-6">
<div class="feature-item8">✅ Physical + written exam training</div>
</div>

<div class="col-md-6">
<div class="feature-item8">✅ Written exam preparation</div>
</div>

<div class="col-md-6">
<div class="feature-item8">✅ Daily practice sessions</div>
</div>

<div class="col-md-6">
<div class="feature-item8">✅ Updated recruitment syllabus</div>
</div>


</div>

<div class="notice-box8">
<h4>Admission Notice</h4>
<p class="mb-0">
    Admissions open for upcoming recruitment
</p>
</div>

</div>
</div>

<!-- Right Side -->
<div class="col-lg-4 mt-5 pt-5">

<div class="price-card8">
    <h3>Start Learning Today</h3>
    <p class="text-secondary text-center">Invest in your future with the best mentorship in the industry.</p>

<h2>₹ 35000 - ₹ 40000</h2>

<button class="btn-enroll8 mt-3">
Enroll Now
</button>

<hr class="my-4">
    <p class="text-secondary text-center">*EMI options available for comprehensive courses.</p>


<h5>Got Questions?</h5>

<p class="mb-2">
    <p class=" text-secondary">Call Support</p>
📞 +91 9011144920
</p>

<p class="mb-0">
    <p class=" text-secondary">Email Us</p>

✉ dhanraj@academy.com
</p>

</div>

</div>

</div>
</div>
{% include "user/footer.html" %}
