{% include "user/navbar.html" %}
{% include "user/base.html" %}






<body>

    <section>
        <header class="about_us p-0 m-0">
            <div class="container-fluid "
                style="background-image:url(/static/web/images/facul.jpg); background-repeat: no-repeat; height: 250px; background-size: cover; width:100%;">
                <div class="row">
                    <div class="col-12">
                        <p class=" text-white mb-5  ">
                        <h2 class=" pt-5 text-center text-warning fw-bold">Our Faculty Team</h2>
                        </p>
                    </div>
                </div>
            </div>
        </header>
    </section>


    <section class="faculty-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="mb-5 ms-5 mt-3 text-warning fw-bold">Teacher Profile</h1>
                </div>
            </div>

            <div class="row g-4">

                <!-- Faculty 1 -->
                <div class="col-lg-4 col-md-6">
                    <div class="faculty-card">
                        <img src="/static/web/images/rajeep.jpg" alt="">
                        <h4>MR. RAJDEEP DHANUKA</h4>
                        <span>Senior Police Bharti Trainer</span>

                        <div class="experience">
                            <i class="fa-solid fa-briefcase"></i>
                            7+ Years Experience
                        </div>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Faculty 2 -->
                <div class="col-lg-4 col-md-6">
                    <div class="faculty-card">
                        <img src="/static/web/images/Anit kumar.png" alt="">
                        <h4>MR. Nikhil Desai</h4>
                        <span>MPSC Trainer</span>

                        <div class="experience">
                            <i class="fa-solid fa-briefcase"></i>
                            10+ Years Experience
                        </div>



                        <div class="social-icons">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Faculty 3 -->
                <div class="col-lg-4 col-md-6">
                    <div class="faculty-card">
                        <img src="/static/web/images/amit.jpg" alt="">
                        <h4>Hamraj Shaikh</h4>
                        <span>UPSC Trainer </span>

                        <div class="experience">
                            <i class="fa-solid fa-briefcase"></i>
                            12+ Years Experience
                        </div>



                        <div class="social-icons">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <section class="subject-section py-5">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h1 class="mb-5 ms-5 mt-3 text-dark fw-bold">Our Subject Expertise</h1>
                </div>
            </div>

            <div class="row g-4">

                <div class="col-md-6 col-lg-4">
                    <div class="card h-100 shadow border-0">
                        <div class="card-body text-center">
                            <h4>👮 Police Bharti</h4>
                            <p>
                                Written Exam Preparation, Physical Test Guidance, Mock Tests and Previous Year Papers.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card h-100 shadow border-0">
                        <div class="card-body text-center">
                            <h4>🏢 Talathi Bharti</h4>
                            <p>
                                Marathi, English, Mathematics, Reasoning and General Knowledge Preparation.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card h-100 shadow border-0">
                        <div class="card-body text-center">
                            <h4>🏫 ZP Bharti</h4>
                            <p>
                                Complete syllabus coverage with regular practice tests and guidance.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card h-100 shadow border-0">
                        <div class="card-body text-center">
                            <h4>📚 MPSC</h4>
                            <p>
                                Foundation Courses, Combined Exam, Group B & C Preparation.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card h-100 shadow border-0">
                        <div class="card-body text-center">
                            <h4>🚆 Railway Bharti</h4>
                            <p>
                                Mathematics, General Science, Reasoning and Current Affairs.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card h-100 shadow border-0">
                        <div class="card-body text-center">
                            <h4>🪖 Army / SSC GD</h4>
                            <p>
                                Written Examination, Physical Training and Complete Selection Guidance.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- ================= DEMO SESSION ================= -->
    <section class="demo-section bg-secondary  py-5">
        <div class="container">
            <div class="demo-box text-center">

                <h2 style="color: yellow;" class="fw-bold">Demo Sessions</h2>

                <p>
                    Experience Our Teaching Method Before Joining
                </p>

                <div class="row mt-4">

                    <div class="col-md-12">
                        <a href="https://www.youtube.com/watch?v=8LwwYq4IoFY&list=RD8LwwYq4IoFY&start_radio=1" class="text-decoration-none">
                            <div class="feature">
                                <i class="fa-solid fa-play"></i>
                                <h5>Demo Sessions</h5>
                            </div>
                        </a>
                    </div>

                </div>

                <a href="faculity.html" class="btn btn-warning mt-4 px-5">
                    Book Free Demo
                </a>

            </div>
        </div>
    </section>

    <!-- ================= STUDENT REVIEWS ================= -->

    <section class="review-section py-5">
        <div class="container">

            <div class="text-center mb-5">
                <h2 class="fw-bold text-warning">Student Reviews</h2>
                <p class="text-muted">
                    What Our Students Say About Us
                </p>
            </div>

            <div class="row g-4">

                <!-- Review 1 -->
                <div class="col-lg-4">
                    <div class="review-card">

                        <img src="/static/web/images/rehulshine.png" alt="">

                        <h4>Rahul Shinde</h4>

                        <h6>Police Bharti Batch</h6>

                        <div class="stars">
                            ★★★★★
                        </div>

                        <p>
                            पोलिस अकॅडमी भरती मधील उत्कृष्ट मार्गदर्शन, नियमित सराव परीक्षा आणि अनुभवी शिक्षकांमुळे
                            माझी पोलिस भरतीमध्ये निवड झाली. संपूर्ण टीमचे मनःपूर्वक आभार..
                        </p>

                    </div>
                </div>

                <!-- Review 2 -->
                <div class="col-lg-4">
                    <div class="review-card">

                        <img src="/static/web/images/madan.png" alt="">

                        <h4>Priya Shinde</h4>

                        <h6>Police Bharti Student</h6>

                        <div class="stars">
                            ★★★★★
                        </div>

                        <p>
                            पोलिस अकॅडमी भरती मध्ये मिळालेल्या योग्य मार्गदर्शनामुळे आणि शिस्तबद्ध प्रशिक्षणामुळे
                            मला पोलिस भरतीची परीक्षा यशस्वीरीत्या उत्तीर्ण करता आली.
                        </p>

                    </div>
                </div>

                <!-- Review 3 -->
                <div class="col-lg-4">
                    <div class="review-card">

                        <img src="/static/web/images/mpsc.png" alt="">

                        <h4>Vikram More</h4>

                        <h6>MPSC Student</h6>

                        <div class="stars">
                            ★★★★★
                        </div>

                        <p>
                            पोलिस अकॅडमी भरती मधील अनुभवी शिक्षक, नियमित सराव परीक्षा
                            आणि योग्य मार्गदर्शनामुळे मला MPSC पूर्व परीक्षा उत्तीर्ण
                            होण्यास खूप मदत झाली.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section>
</body>







{% include "user/footer.html" %}
