{% include "user/navbar.html" %}
{% include "user/base.html" %}
    <section class="pb-hero">

    <div class="pb-overlay"></div>

    <div class="pb-hero-content">

        <span class="pb-badge">
            Maharashtra Vanrakshak Bharti 2026
        </span>

        <h1>
            Vanrakshak Bharti Complete Information
        </h1>

        <p>
            Physical Test, Written Exam,
            Eligibility आणि Selection Process
            ची संपूर्ण माहिती.
        </p>

    </div>

</section>


<section class="pb-overview-section">

    <h2>
        Vanrakshak Bharti Overview
    </h2>

    <p>

        महाराष्ट्र वनविभागामध्ये
        Vanrakshak पदासाठी दरवर्षी
        भरती प्रक्रिया राबविली जाते.

        वनसंवर्धन, वन्यजीव संरक्षण
        आणि पर्यावरण संवर्धन यामध्ये
        Vanrakshak ची महत्त्वाची भूमिका असते.

        भरती प्रक्रियेमध्ये शारीरिक चाचणी,
        लेखी परीक्षा आणि अंतिम गुणवत्ता यादीचा
        समावेश असतो.

    </p>

</section>

 <section class="pb-info-grid">
<div class="pb-info-card">

    <h3>
        🌲 Physical Test
    </h3>

    <ul>

        <li>1600 Meter Running</li>

        <li>100 Meter Running</li>

        <li>Long Jump</li>

        <li>Physical Efficiency Test</li>

    </ul>

</div>


<div class="pb-info-card">

    <h3>
        📝 Written Exam
    </h3>

    <ul>

        <li>Marathi</li>

        <li>General Knowledge</li>

        <li>Environment & Forest</li>

        <li>Reasoning</li>

        <li>Mathematics</li>

    </ul>

</div>

</section>

<section class="pb-selection-section">

    <h2>
        Selection Process
    </h2>

    <p class="pb-selection-subtitle">

        महाराष्ट्र वनरक्षक भरतीची निवड प्रक्रिया
        खालील टप्प्यांमध्ये पूर्ण केली जाते.

    </p>

    <div class="pb-selection-grid">

        <div class="pb-selection-card">

            <span class="pb-step-number">01</span>

            <h3>Online Application</h3>

            <p>
                उमेदवारांनी ऑनलाइन अर्ज भरावा.
            </p>

        </div>

        <div class="pb-selection-card">

            <span class="pb-step-number">02</span>

            <h3>Physical Test</h3>

            <p>
                धावणे व शारीरिक क्षमता चाचणी.
            </p>

        </div>

        <div class="pb-selection-card">

            <span class="pb-step-number">03</span>

            <h3>Written Examination</h3>

            <p>
                मराठी, गणित, बुद्धिमत्ता,
                सामान्य ज्ञान विषयांवर परीक्षा.
            </p>

        </div>

        <div class="pb-selection-card">

            <span class="pb-step-number">04</span>

            <h3>Final Merit List</h3>

            <p>
                गुणांच्या आधारे अंतिम गुणवत्ता यादी.
            </p>

        </div>

    </div>

</section>
{% include "user/footer.html" %}